<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MakuTweakerNew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MakuTweakerNew.Properties.Settings>
            <setting name="lang" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="langSI" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="style" serializeAs="String">
                <value>Tabbed</value>
            </setting>
            <setting name="ProcessExclusions" serializeAs="String">
                <value />
            </setting>
            <setting name="MakuYanPar" serializeAs="String">
                <value />
            </setting>
            <setting name="lastPageTag" serializeAs="String">
                <value />
            </setting>
            <setting name="updIgnoredCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="disableUpdateNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastProcessFilterIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="group" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="compact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="onlyMB_processMGR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartExclusive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExclusiveWindowWidth" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="ExclusiveWindowHeight" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="ExclusiveWindowLeft" serializeAs="String">
                <value>-10000</value>
            </setting>
            <setting name="ExclusiveWindowTop" serializeAs="String">
                <value>-10000</value>
            </setting>
            <setting name="UwpChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UwpHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessNameDisplayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphUpdateSpeedMs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPerformanceTab" serializeAs="String">
                <value>Cpu</value>
            </setting>
            <setting name="LastMainTab" serializeAs="String">
                <value>Processes</value>
            </setting>
            <setting name="ShowHidden_processMGR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disableTelemetry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showhiddentabs" serializeAs="String">
                <value>False</value>
            </setting>
        </MakuTweakerNew.Properties.Settings>
    </userSettings>
</configuration>